@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background-1: #252525;
  --background-2: #9A9A9A;
  --button-1: #3B3B3B;
  --button-2: #FF0000;
  --input-1: #3B3B3B;
  --card-1: #FD99FF;
  --card-2: #FF9E9E;
  --card-3: #91F48F;
  --card-4: #FFF599;
  --card-5: #9EFFFF;
  --card-6: #B69CFF;
  --color-1: #FFFFFF;
  --color-2: #CFCFCF;
  --color-3: #9A9A9A;
  --color-4: #000000;
}


body {
  @apply font-nunito;
  background-color: var(--background-1);
}
