@import url(variables.css); /* Importación de variables CSS */

@tailwind base;           /* Estilos base de Tailwind */
@tailwind components;     /* Estilos de componentes de Tailwind */
@tailwind utilities;      /* Utilidades de Tailwind */



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito-Regular" !important;
  background-color: var(--background-1) ;


}

body{
  height: 100vh;
  overflow-y: hidden;
}


:root{
  --background-1: #252525;
  --background-2: #9A9A9A;
  --button-1: #3B3B3B;
  --button-2: #FF0000;
  --input-1: #3B3B3B;
  --card-1: #FD99FF;
  --card-2: #FF9E9E;
  --card-3: #91F48F;
  --card-4: #FFF599;
  --card-5: #9EFFFF;
  --card-6: #B69CFF;
  --color-1: #FFFFFF;
  --color-2: #CFCFCF;
  --color-3: #9A9A9A;
  --color-4: #000000;
}

