@font-face {
    font-family: "Nunito-Black";
    src: url(../storage/font/Nunito/Nunito-Black.ttf);
  }
  @font-face {
    font-family: "Nunito-BlackItalic";
    src: url(../storage/font/Nunito/Nunito-BlackItalic.ttf);
  }
  @font-face {
    font-family: "Nunito-Bold";
    src: url(../storage/font/Nunito/Nunito-Bold.ttf);
  }
  @font-face {
    font-family: "Nunito-BoldItalic";
    src: url(../storage/font/Nunito/Nunito-BoldItalic.ttf);
  }
  @font-face {
    font-family: "Nunito-ExtraBold";
    src: url(../storage/font/Nunito/Nunito-ExtraBold.ttf);
  }
  @font-face {
    font-family: "Nunito-ExtraBoldItalic";
    src: url(../storage/font/Nunito/Nunito-ExtraBoldItalic.ttf);
  }
  @font-face {
    font-family: "Nunito-ExtraLight";
    src: url(../storage/font/Nunito/Nunito-ExtraLight.ttf);
  }
  @font-face {
    font-family: "Nunito-ExtraLightItalic";
    src: url(../storage/font/Nunito/Nunito-ExtraLightItalic.ttf);
  }
  @font-face {
    font-family: "Nunito-Italic";
    src: url(../storage/font/Nunito/Nunito-Italic.ttf);
  }
  @font-face {
    font-family: "Nunito-LightItalic";
    src: url(../storage/font/Nunito/Nunito-LightItalic.ttf);
  }
  @font-face {
    font-family: "Nunito-Medium";
    src: url(../storage/font/Nunito/Nunito-Medium.ttf);
  }
  @font-face {
    font-family: "Nunito-MediumItalic";
    src: url(../storage/font/Nunito/Nunito-MediumItalic.ttf);
  }
  @font-face {
    font-family: "Nunito-Regular";
    src: url(../storage/font/Nunito/Nunito-Regular.ttf);
  }
  @font-face {
    font-family: "Nunito-SemiBold";
    src: url(../storage/font/Nunito/Nunito-SemiBold.ttf);
  }
  @font-face {
    font-family: "Nunito-SemiBoldItalic";
    src: url(../storage/font/Nunito/Nunito-SemiBoldItalic.ttf);
  }